:root {
  --text-color: black;
  --btn-text-color: white;
  --primary-color: #16a3b5;
  --delete-btn-color: #db3446;
  --trash-icon-color: #cc3d40;
  --pen-icon-color: #ffc20b;
  --border-color: #e4e4e4;
  --webkit-scrollbar-color: #eaeaea;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#popupEdit {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.239);
  display: none;
}
#popupEditWrapper {
  background-color: white;
  width: 100%;
  max-width: 20%;
  height: 20vh;
  border-radius: 1rem;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#popupEditForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  #popupEditInput {
    width: 85%;
    height: 1.6rem;
    padding: 0.4rem;
    padding-left: 0.7rem;
    border-radius: 0.6rem;
  }
   #popupInputValidation {
    color: var(--trash-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    #popupBeEmpty {
      display: none;
    }
    #popupStartWithNumber {
      display: none;
    }
    #popupFiveCharLong {
      display: none;
    }
  }

  #popupBtnsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    #popupSubmitBtn {
      width: 20%;
    }
    #popupCancelBtn {
      width: 25%;
      background-color: var(--delete-btn-color);
    }
  }
}

.popupDelete {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.239);

  .popupContent {
    background-color: white;
    border-radius: 2rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem;

    .popupBtns {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      button {
        padding: 0.5rem;
      }
      #popupDeleteAllCancelBtn {
        background-color: var(--delete-btn-color);
      }
      #popupDeleteDoneCancelBtn {
        background-color: var(--delete-btn-color);
      }
      #popupDeleteOneCancelBtn {
        background-color: var(--delete-btn-color);
      }
    }
  }
}
body {
  height: 100vh;

  label {
    font-size: 1.3rem;
  }

  h1,
  label {
    color: var(--text-color);
  }
  button {
    background-color: var(--primary-color);
    color: var(--btn-text-color);
    border: none;
    height: 2.5rem;
    border-radius: 0.3rem;
    &:hover {
      background-color: var(--btn-text-color);
      color: var(--text-color);
      border: solid 0.17rem var(--primary-color);
      cursor: pointer;
    }
  }
}

#wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}

#toDoInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100vw;
  max-width: 60%;
  margin-top: 1.5rem;
}

#toDoInputForm {
  padding: 1rem;
  border: solid 0.17rem var(--border-color);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  #iconAndInput {
    display: flex;
    width: 100%;
    i {
      padding: 0.7rem;
      background-color: var(--primary-color);
      color: var(--btn-text-color);
      border-radius: 0.18rem;
    }
    input {
      border: solid 0.17rem var(--border-color);
      border-left: none;
      border-radius: 0.18rem;
      width: 100%;
      padding-left: 1rem;
    }
  }
  #inputValidation {
    color: var(--trash-icon-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    #beEmpty {
      display: none;
    }
    #startWithNumber {
      display: none;
    }
    #fiveCharLong {
      display: none;
    }
  }
  #addNewTaskBtn {
    width: 100%;
  }
}

#toDoListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  width: 100vw;
  max-width: 60%;
  padding: 1rem;
}
#filterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.filterBtn {
  width: 30%;
  &:focus {
    background-color: var(--btn-text-color);
    color: var(--text-color);
    border: solid 0.17rem var(--primary-color);
  }
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.5rem;
  background-color: var(--webkit-scrollbar-color);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 1rem;
}

#tasksWrapper {
  width: 100%;

  #tasksList {
    overflow-y: auto;
    max-height: 23rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
  }
.task {
    border: solid 0.17rem var(--border-color);
    border-radius: 0.18rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    .taskText {
      flex-grow: 1;
      &:hover {
        cursor: pointer;
      }
    }
    .custom-checkbox {
      border: solid 0.11rem var(--text-color);
      font-size: 0.8rem;
      margin-right: 1rem;
      .fa-check {
        padding: 0.08rem;
        color: rgb(7, 171, 7);
        font-size: 0.8rem;
        visibility: hidden;
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked ~ .custom-checkbox {
      .fa-check {
        visibility: visible;
      }
    }
    input[type="checkbox"]:checked ~ .taskText {
      text-decoration: line-through;
      color: var(--delete-btn-color);
    }
    .taskIcons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      i {
        &:hover {
          cursor: pointer;
        }
      }

      .fa-pen {
        color: var(--pen-icon-color);
      }
      .fa-trash {
        color: var(--trash-icon-color);
      }
    }
  }
}

#noTasksText {
  font-size: 1.6rem;
}


#deleteBtnsWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  .deleteBtns {
    background-color: var(--delete-btn-color);
    width: 35%;
    &:hover {
      color: var(--text-color);
      background-color: var(--btn-text-color);
      border: solid 0.17rem var(--delete-btn-color);
    }
  }
  button:disabled {
    background-color: #dd6d6fd5;
    pointer-events: none;
  }
}