:root {
  --text-color: black;
  --btn-text-color: white;
  --primary-color: #16a3b5;
  --delete-btn-color: #db3446;
  --trash-icon-color: #cc3d40;
  --pen-icon-color: #ffc20b;
  --border-color: #e4e4e4;
  --webkit-scrollbar-color: #eaeaea;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#popupEdit {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.239);
  display: none;
}
#popupEditWrapper {
  background-color: white;
  width: 100%;
  max-width: 20%;
  height: 20vh;
  border-radius: 1rem;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}