:root {
  --text-color: black;
  --btn-text-color: white;
  --primary-color: #16a3b5;
  --delete-btn-color: #db3446;
  --trash-icon-color: #cc3d40;
  --pen-icon-color: #ffc20b;
  --border-color: #e4e4e4;
  --webkit-scrollbar-color: #eaeaea;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#popupEdit {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.239);
  display: none;
}
#popupEditWrapper {
  background-color: white;
  width: 100%;
  max-width: 20%;
  height: 20vh;
  border-radius: 1rem;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#popupEditForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  #popupEditInput {
    width: 85%;
    height: 1.6rem;
    padding: 0.4rem;
    padding-left: 0.7rem;
    border-radius: 0.6rem;
  }
   #popupInputValidation {
    color: var(--trash-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    #popupBeEmpty {
      display: none;
    }
    #popupStartWithNumber {
      display: none;
    }
    #popupFiveCharLong {
      display: none;
    }
  }

  #popupBtnsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    #popupSubmitBtn {
      width: 20%;
    }
    #popupCancelBtn {
      width: 25%;
      background-color: var(--delete-btn-color);
    }
  }
}

.popupDelete {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.239);

  .popupContent {
    background-color: white;
    border-radius: 2rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem;

    .popupBtns {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      button {
        padding: 0.5rem;
      }
      #popupDeleteAllCancelBtn {
        background-color: var(--delete-btn-color);
      }
      #popupDeleteDoneCancelBtn {
        background-color: var(--delete-btn-color);
      }
      #popupDeleteOneCancelBtn {
        background-color: var(--delete-btn-color);
      }
    }
  }
}